.grid {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 41% 30% 20% 20%;
    border: black 1px;
}
.box {
    width: 300px;
    height: 600px;
    padding: 15px;
    background-color: rgb(21, 255, 204);
    box-shadow: 10px 10px lightblue;
}
.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 254, 254, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    
    
}
button {
    background-color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px black;
    box-shadow: 1px 1px rgb(0, 0, 0);
    font-size: large;
    cursor:pointer
    
}

.h1Style {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.box2 {
    width: 800px;
    height: 800px;
    padding: 15px;
    background-color: rgb(21, 255, 204);
    box-shadow: 10px 10px lightblue;
}